&__estate {
    &__title {
        display: flex; flex-direction: row;
        h4{ flex: 1; 
            a { border: 1px solid rgb(79, 168, 252); margin-left: 20px; padding: 1px 13px; 
                border-radius: 20px; font-size: .7em; color: rgb(79, 168, 252);} 
        }
        h3{ flex: 10; text-align: center; color: rgb(86, 86, 87);}
    }
    &__imgfull {
        margin-bottom: 15px; padding-left: 0%;
        #full-images {
            position:relative; min-height:360px; 
            // border: 1px solid yellow; 
            box-shadow: $shadow;border-radius: 10px;overflow: hidden;display: flex;
        }
        #full-images img {
            // border: 2px solid red;
            width: 100%;height: 100%;z-index: 0;position: absolute;left: 0px;top: 0px;
        }
    }

    &__imgthumb {
        .row{ padding: 0px;}
        &__thumbnails {
            &__img {
                height: 140px; width: 100%;margin-bottom: 15px; border-radius: 10px; box-shadow: $shadow; overflow: hidden;
                img { width: 100%; height: 100%;}
            }
            &__details {
                button {
                    border-radius: 20px; padding: 1px 12px;margin-bottom: 10px;
                }
                .edit-form {
                    input[type='submit'] {
                        border-radius: 20px;
                    }
                }
            }
        }
        ul {
            list-style: none; 
        }
    }
    &__add-photo {
        .ad_photo {
            box-shadow: $shadow; border-radius: 10px; padding: 2%; margin-top: 10px;
        }
    }
    &__info {
        padding: 0px;
        .estate-info {
            box-shadow: $shadow; border-radius: 10px;overflow: hidden;
        }
        &__title {
            @include background-color(); color: white; text-align: center; padding: 7px 0px; font-size: 1.1em;
        }
        &__body {
            padding: 2% 4%;
            ul {
                list-style: none;margin: 0px; padding: 0px;margin-bottom: 10px;
                li {
                    line-height: 35px; color: rgb(90, 90, 90);
                }
            }
        }
        
    }
}