.profileHeading {
    display: flex; flex-direction: row; list-style: none; flex-wrap: wrap;
    padding: 0px; justify-content: space-between; padding-top: 10px;
    li{
       a { padding: 5px 10px; border: 1px solid skyblue; border-radius: 10px;}
       margin-bottom: 10px; font-size: 0.85em;
    }
}