
body {
    font-family: $base-font-family;
    a {
        -webkit-transition: all 0.2s ease-in;
        -moz-transition:all 0.2s ease;
        -ms-transition:all 0.2s ease;
        -o-transition:all 0.2s ease;
        transition:all 0.2s ease-in;
        &:hover {
            text-decoration: none;
        }
    }
}

@mixin background-color() {
    background: rgb(6, 94, 153);
    background: -moz-linear-gradient(124deg, rgba(6, 94, 153, 1) 0%, rgba(4, 113, 187, 1) 43%, rgba(15, 139, 221, 1) 100%);
    background: -webkit-linear-gradient(124deg, rgba(6, 94, 153, 1) 0%, rgba(4, 113, 187, 1) 43%, rgba(15, 139, 221, 1) 100%);
    background: linear-gradient(124deg, rgba(6, 94, 153, 1) 0%, rgba(4, 113, 187, 1) 43%, rgba(15, 139, 221, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#065e99", endColorstr="#0f8bdd", GradientType=1);
}