footer {
    @include background-color();color: white;padding: 2% 4%;
    .footer {
        display: flex; flex-direction: row; align-items: center;
        div {  display: flex;justify-content: center;}
        &__left {
            flex: 1;
            a{
                color: white; padding: 0px 10px; 
                &:hover {
                    opacity: .6;
                }
            }
        }
        &__middle{
            flex: 1;
            &__img { 
                width: 50px; padding: 1.5%; height: 50px; box-shadow: $shadow;
                border-radius: 100px; display: flex; align-items: center; justify-content: center;
                img { width: 100%; height: 100%;}
            }
        }
        &__right {
            flex: 1;
            a {
                background: white; height: 40px; width: 40px; margin-left: 10px; display: flex;
                align-items: center; justify-content: center; border-radius: 100px;
                &:hover {
                    color: white; background: $brand-color-darker;
                }
            }
        }
    }
    
    .footer__bottom {
        display: flex; flex-direction: row;
        p{
            flex: 1; padding-left: 5%;
           a{
                color:rgb(131, 193, 243);
                &:hover{
                    color: white;
                }
            } 
        }
        ul {
            display: flex; flex-direction: row; flex: 1; justify-content: flex-end;
            padding-right: 3%;
            li{ list-style: none; padding: 0px 15px;}
        }
        
    }
}

/* CSS for the Arrow up */
.arrow_up{
	background: rgba(4, 80, 134, 0.7); width:3%;text-align: center;
	font-size: 2.3em; margin: 1%;height: 60px;border-radius: 20px;line-height: 60px;
    display: block;position: fixed; bottom: 30px; right: 10px;color:white;
    transition: 0.5s all ease;
-webkit-transition: 0.5s all ease;
-moz-transition: 0.5s all ease;
-o-transition: 0.5s all ease;
-ms-transition: 0.5s all ease;z-index: 100;
    &:hover {
        cursor:pointer; background: white; color:rgba(4, 80, 134, 0.7);box-shadow: 0px 0px 2px 0px rgba(37,61,77,1.00);
    }
}
