.overlay {
    background: transparent; width: 100%; height: 100vh; position: absolute; top: 0px; left: 0px; z-index: 1000; 
    display: none;
    // display: flex;
    justify-content: flex-end; align-items: flex-start;overflow: hidden;
    .overlay__container {
        display: flex;justify-content: flex-end; align-items: flex-start;
        padding-top: 10px;padding-right: 10px;
        flex-direction: row; width: 25%;
        transform: translateX(100%);
        transition: all 2s ease-in-out;
        &__close {
            padding: 10px 15px; border-radius: 100%; color: $brand-danger; background: white; box-shadow: $shadow; margin-right: 5px;
            transition: all .5s ease-in;
            &:hover {
                cursor: pointer; opacity: .8; font-size: 1.1em;
            }
        }
        &__content {
            box-shadow: $shadow; padding: 5% 8%; width: 80%; background: white; border-radius: 10px; 
            &__img {
                height: 80px; width: 40%; border-radius: 50%; overflow: hidden;margin: auto;
                box-shadow: $shadow;
                img{ width: 100%; height: 100%;}
            }
            &__details {
                &__name {
                    margin: 5px 0px;opacity: .8;
                }
                &__others {
                    font-size: .9rem;margin-top: 5px;margin-bottom: 5px;
                    a {
                        color: rgb(138, 139, 139);
                        &:hover {
                            color:rgb(14, 107, 149);
                        }
                    }
                }
                &__logout {
                    font-size: .8rem; 
                    a{
                        color:rgb(138, 139, 139);
                        &:hover {
                            color:rgb(14, 107, 149);
                        }
                    } 
                }
            }
        }
    }
    
}
#header {
    position: fixed; z-index: 100;background: white;
}
.header {
    box-shadow: 0px 0px 5px 1px rgba(175, 174, 174, 0.2);padding-bottom: 0%; 

    &__content {
        padding: 0px; margin-top: 20px;
        &__sm {
            @include MQ-MAX(M) {
                display: flex; justify-content: center; align-items: center;
            }
        }
        @include MQ-MAX(M) {
            margin-top: 12px; 
        }
        &__navbar {
            // border: 1px solid yellow;
            &__list {
                ul {
                    display: flex;flex: 1;padding-right: 1%; 
                    // border: 1px solid blue;
                    @include MQ-MAX(M) {
                        flex-wrap: wrap;
                    }
                    .roundedSearch {
                        border-radius: 0px;margin-right: 20px;font-size: .8em;padding: 5px 10px;
                        @include MQ-MAX(M) {
                            margin-left: 40px;
                        }
                    }
                    li.nav-item {
                        @include MQ(L) {
                            flex: 1;
                        }
                        text-align: center; 
                        @include MQ-MAX(M) {
                            width: 33.2%;
                        }
                        
                        a.nav-link {
                            font-weight: 300;color: $brand-color-darker;
                        }
                        .make_active {
                            // border-bottom-width: 3px; border-bottom-style: solid;border-bottom-color: blue;
                        }
                    }
                }
                &__img {
                    width: 50px;height: 50px; border-radius: 50%; overflow: hidden; box-shadow: $shadow;margin-right: 10px;
                    img {
                        width: 100%; height: 100%;
                        &:hover {
                            cursor: pointer; opacity: .8;
                        }
                    }
                }
            }
        }
        // &__search {
        //     display: flex;justify-content: flex-end;padding-right: 7%;
        //     input {
        //         border-radius: 30px 0px 0px 30px;
        //     }
        //     button.btn-primary {
        //         border-radius: 0px 30px 30px 0px;@include background-color();border-color:$brand-color-darker;
        //     }
        // }
    }
    &__img {
        padding: .7% 1.2%;height: 90px;
        @include MQ-MAX(M) {
            height: 60px;
        }
        img { width: 100%; height: 100%; }
    }
}
.search_realtor {
    padding: .6% 0px 1% 0px;position: absolute;top: 0px;width:98%;
    z-index: 4000; 
    // @include background-color(); background: white; 
    // border: 1px solid rgb(211, 211, 211);
    &__container {
        display: flex; justify-content: center;
        &__input {
            width: 50%; 
            input {
                border-radius: 20px 0px 0px 20px;padding-left: 20px;
            }
        }
        &__button {
            width: 10%;
            button {
                width: 100%;@include background-color();border-radius: 0px 20px 20px 0px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
.showSearch {
    transition: all .8s ease-out;
    transform: translateY(0%);
    @include MQ-MAX(M) {
        top: 120px;
    }
}
.hideSearch {
    transition: all .5s ease;
    transform: translateY(-100%); 
}

.contentWrapper {
    top:90px;
    @include MQ-MAX(M) {
        top: 60px;
    }
    margin-bottom: 90px;
}
.longBar {
    height: 2px; width: 30px; background: $brand-color-darker;
}
.shortBar {
    height: 2px; width: 20px; background: $brand-color-darker;
}
.collapseBtn {
    background: white;  border-radius: 5px;
    height: 35px;
    // border: 1px solid rgba(31, 61, 196, 0.2);
    border: none;
}