.cont_xs2 {
    padding: 0px 10px;
}

.filterTags {
    display: flex; flex-direction: row; 
    flex-wrap: wrap;
    align-items: center; 
    .title{
        margin-right: 10px; margin-top: 0px; margin-bottom: 10px;
    }
    div {
        @include background-color(); padding: 0px 10px; border-radius: 5px; color: white;
        margin-right: 10px; font-size: .9em; margin-bottom: 10px;
    }
}
.emptyContainer{
    display: flex; width: 100%; flex-direction: column; align-items: center;
    .svgStyles{
        height: 200px; width: 200px; margin-top: 10px;
    }
    p{
        font-size: 1.4em;
    }
}
.house {
    box-shadow: $shadow; color: $text-color;
    position: relative; border-radius: $border-radius-big;margin-bottom: 20px;
    .cover {
        position: absolute; width: 100%; @include background-color();top: 2%;
        height: 0;z-index: -1;border-radius: 0px 0px 8px 8px;transition: height .4s ease-in;
    }
    &__upper {
        background: rgb(223, 223, 223);
        border-radius: $border-radius-big;
        &__location {
            text-align: center;padding: 1.5% 0;color: $brand-color-lighter;font-weight: 700;
        }
        &__img_price {
            position: relative;
            &__price {
                position: absolute;
                top: 10px;
                left: -8px;
                color: $brand-white;
                padding: 2% 3%; border-radius: $border-radius-small;
                @include background-color();
                font-size: .9em; font-weight: 700;
            }
            &__img {
                height: 200px;
                img {
                    width: 100%;height: 100%; object-fit: cover;
                    // border-radius:$border-radius-big;
                }
            }
        }
        &__bath {
            font-size: $font-size-li;
            font-family: $oswald; font-weight: 300;
            ul {
                display: flex;flex-direction: row;margin: 0px;padding:5px 0px;justify-content: center;
                li {
                    list-style: none; padding: 0px 5px;
                }
            }
        }
    }

    &__details {
        opacity: 1;transition: color .6s ease-in;
        a{
            color: $text-color;
        }
        &__upper {
            height: 85px;
            ul {
                padding:2% 4%;margin: 0px;font-family: $yanone;
                li {
                   list-style: none;font-size: $font-size-bigger-li;
                   i {
                       padding-right: 5px; font-size: .9em;
                   }
                }
            }
        }
        &__lower {
            display: flex; flex-direction: row;padding:0 3% 4% 3%;font-family: $archivo;
            &__rs {
                flex: 1;text-align: center;color: white;border-radius:24px;border-radius: 0px 18px 0px 18px;
                @include background-color();box-shadow: $shadow;
            }
            &__cl {
                flex: 2;font-weight: 100;text-align: right;
                span {
                    font-size: 1em;padding: 0px 10px;box-shadow: $shadow;margin-left: 10px;
                    i{color: $brand-success; padding: 0px 1%;}
                }
            }
        }

    }
    
}