.realtor_top {
    &__img {
         width: 50px; height: 80px; _border: 1px solid red;
        a {
           img{
                width: 100%; height: 100%;_border-radius: 20px;_box-shadow: $shadow;
                object-fit: contain; _border: 1px solid green;
            } 
        }
    }
    &__details {
        &__title {
            text-align: center;font-size: 1.4em; font-family: $archivo;line-height: 20px;
            color: $brand-color-darker;
        }
        &__subtitle {
            // padding: 0px;
            .share {
                margin-bottom: 0px;justify-content: flex-start;
            }
            a {color: white; margin:0px 2px;}   
        }
        &__follow {
            display: flex;font-family: $archivo;font-size: .9em;
            .btn {
                border-radius: 20px;font-size: .9em;margin-right: 10px;
            }
        }
    }
}
.r_estate {
    &__container {
        .cover{
            @include background-color(); color: white; font-family: $yanone;border-radius: 10px;overflow: hidden; font-size: 1em;
            box-shadow: $shadow;
        }
        &__img {
            width: 100%; height: 150px;
            img { width: 100%; height: 100%;}
        }
        &__description {
            padding: 10px 10px;
            p {
                i{font-size: .7em; padding-right: 4px;}
            }
        }
    }
}
.rinfo_public {
    box-shadow: $shadow;border-radius: 10px;font-family: $archivo;overflow: hidden;
    display: flex; flex-direction: row;
    .drawOut{
        display: none;
    }
    
    @include MQ-MAX(L) {
        position: fixed; z-index: 50; top: 70px; right: 10px;
        box-shadow: none;border-radius: 0px;
        .drawOut {
            display: flex; background: white;height: 40px; 
            justify-content: center; align-items: center;
            flex: 1; color: $brand-color-darker; box-shadow: $shadow;
        }
    }
    @include MQ-MAX(L) {
        .rinfo-container {
            background: white; box-shadow: $shadow;border-radius: 10px;
            overflow: hidden; flex: 2.3
        }
    }
    
    &__cover {
        padding: 2% 5%;
        &__1st{
            color:$brand-color-darker;font-size: 1.4em;
        }
        &__2nd {
            font-size: 1.2em;color: grey;padding: 2px 0px 10px 0px;
        }
        &__3rd {
            font-size: .9em;
            span{ border-radius: 20px; padding: 2px 15px; }
            span.verified { 
                color: green; border: 1px solid green;
            }
            span.not_verified {
                color: red; border: 1px solid red;
            }
        }
        &__4th, &__5th, &__6th {
            font-size: 1em; color: rgb(61, 66, 70); line-height: 25px;
            i{ font-size: .9em; color: $brand-color-lighter; padding-right: 5px;}
        }
    }
    &__fh {
        
        &__f {
            @include background-color(); color: white;text-align: center;border-right: 1px solid white;
        }
        &__h {
            @include background-color(); color: white;text-align: center; border-left: 1px solid white;
        }
    }
    
}
.longBarDetails {
    height: 2px; width: 20px; background: $brand-color-darker;
}
.shortBarDetails {
    height: 2px; width: 10px; background: $brand-color-darker;
}
.collapseFilterDetails {
    background: white;  border-radius: 5px; margin-right: 6px;
    height: 30px; width: 30px; cursor: pointer;
    // border: 1px solid rgba(31, 61, 196, 0.2); 
    display: flex;flex-direction: column; justify-content: center;
    padding: 0px 5px; 
    border: none;
    .longBarDetails {
        width: 100%;
        transition: all ease-out 0.2s; 
    }
    .shortBarDetails {
        margin-top: 5px; margin-bottom: 5px;
    }
}
.collapseFilterDetailsActive {
    background: white;  border-radius: 5px;  margin-right: 5px;
    height: 30px; width: 20px; cursor: pointer;
    // border: 1px solid rgba(31, 61, 196, 0.2);
    border: none; 
    position: relative;
    .longBarDetails {
        position: absolute;top:45%; left: 0px;
        width: 100%;
        transition: all ease-out 0.7s;
        &:nth-child(1) {
            transform: rotate(35deg);
        }
        &:nth-child(3) {
            // opacity: 0;
            transform: rotate(-35deg);
        }
    }
    .shortBarDetails {
        display: none;
    }
}

.hideDetails {
    @include MQ-MAX(L) {
        transition: all .5s ease;
        transform: translateX(72%);
    }
}

.showDetails {
    @include MQ-MAX(L) {
        transition: all .8s ease-out;
        transform: translateX(0%);
    }
}